body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}

header{
background:#222;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#444;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-size:18px;
}

nav a:hover{
color:yellow;
}

section{
padding:40px;
text-align:center;
}

footer{
background:#222;
color:white;
text-align:center;
padding:10px;
}